@import url(https://fonts.googleapis.com/css?family=Raleway);
  
  body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 6rem;
  }
  
  a {
    color: #858585;
    text-decoration: none;
  }
  
  h1, h2, h3, h4 {
    font-weight: 700;
  }
  
  @keyframes up {
    100% {
      transform: translateY(0%);
    }
  }
  
  /* Then, every single word gets animated up */
  .first-animate {
    animation: up 0.8s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(-800%);
  }

  .animate {
    animation: up 0.8s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(900%);
  }
  
  /* Delay for staggering effect */
  .medium-header{
    animation-delay: 1.4s;
  }
  .small-header, .paragraph{
    animation-delay: 1.6s;
  }
  .location{
    animation-delay: 1.8s;
  }

  .highlight-1 { 
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #b7ffb4 50%); 
  }
  .highlight-15 { 
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #b7ffb4 50%); 
  }
  .highlight-2 { 
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #b7ffb4 50%); 
  }
  
  .heading {
    margin: 2rem 4rem 2rem 4rem;
    text-align: center;
  }
  
  .section {
    margin: 2rem 4rem 2rem 4rem;
  }
  
  .statement {
    font-weight: 500;
  }
  
  #interface_img {
    max-width: 80vw;
  }
  
  .col {
    width: 25vw;
    margin: 1rem;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .home-img{
    width: 40vw;
  }
  .home-wrapper{
    padding-left: 7vw;
    padding-right: 7vw;
    /* background-color: #fff7e8; */
    /* height: 700px; */
  }

  .text-wrapper{
    padding-left: 30px;
    margin-top: 75px;
    margin-bottom: 100px;
  }

  .large-header{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 5vw;
  }

  .medium-header{
    font-weight: 350;
    font-size: 3vw;
    margin-bottom: 30px;
  }

  .small-header{
    font-weight: 200;
    font-size: 2.2vw;
    margin-bottom: 30px;
  }

  .accent{
    color: #5BA092;
  }

  .map-icon{
    width: 20px;
    height: 30px;
    margin-top: 8px;
    margin-right: 15px;
  }

  .nav-item{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 15px;
  }

  .nav-link{
    color: #5BA092;
  }

  .nav-link:hover, .nav-selected {
    color: #3a6d63;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .about-wrapper{
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .my-img{
    width: 450px;
    height: 470px;
  }

  .description-wrapper{
    margin-right: 70px;
  }

  .navigation{
    background-color: white;
  }