@import url(https://fonts.googleapis.com/css?family=Raleway);
  
  body {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    margin-bottom: 6rem;
    max-width: 100vw;
  }
  
  div{
    font-family: 'Raleway', sans-serif;
  }

  a {
    color: #858585;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, ul {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }
  
  @keyframes up {
    100% {
      transform: translateY(0%);
    }
  }
  
  /* Then, every single word gets animated up */
  .first-animate {
    animation: up 0.8s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(-800%);
  }

  .animate {
    animation: up 0.8s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(900%);
  }
  
  /* Delay for staggering effect */
  .medium-header{
    font-family: 'Raleway', sans-serif;
    animation-delay: 1.4s;
  }
  .small-header, .paragraph{
    font-family: 'Raleway', sans-serif;
    animation-delay: 1.6s;
  }
  .location{
    font-family: 'Raleway', sans-serif;
    animation-delay: 1.8s;
  }

  .icons{
    animation-delay: 2.0s;
  }

  .highlight { 
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #e2ece8 50%); 
  }

  .heading {
    margin: 2rem 4rem 2rem 4rem;
    text-align: center;
  }
  
  .section {
    margin: 3rem 7rem 3rem 7rem;
  }
  
  .statement {
    font-weight: 500;
  }
  
  #interface_img {
    max-width: 80vw;
  }
  
  .col {
    width: 25vw;
    margin: 1rem;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .home-img{
    width: 560px;
  }


  .home-wrapper{
    padding-left: 7vw;
    padding-right: 7vw;
  }

  .text-wrapper{
    font-family: 'Raleway', sans-serif;
    padding-left: 30px;
    margin-top: 75px;
    margin-bottom: 20px;
  }

  .large-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 66px;
  }

  .work-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .medium-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 450;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .small-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .accent{
    font-family: 'Raleway', sans-serif;
    color: #5BA092;
  }

  .map-icon{
    width: 20px;
    height: 30px;
    margin-top: 8px;
    margin-right: 15px;
  }

  .back-icon{
    width: 14px;
    height: 14px;
    margin-top: 6px;
    margin-right: 6px;
  }

  .nav-item{
    font-family: 'Raleway', sans-serif;
    margin-left: 0px;
    margin-right: 65px;
    font-size: 20px;
    margin-top: 15px;
  }

  .nav-link{
    color: #5BA092;
    transition: all .2s ease-in-out;
    width: 60px;
  }

  .nav-link:hover, .nav-selected, .return:hover{
    color: #3a6d63;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .return {
    font-family: 'Raleway', sans-serif;
    transition: all .2s ease-in-out;
    margin-left: 40px;
    width: 140px;
  }

  .about-wrapper{
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .my-img{
    width: 400px;
    border-radius: 400px;
    margin-bottom: 75px;
  }

  .description-wrapper{
    padding-right: 70px;
  }

  .navigation{
    background-color: white;
    font-family: 'Raleway', sans-serif;
  }

  p{
    font-family: 'Raleway', sans-serif;
  }

  .project-img{
    width: 500px;
  }

  .project-alt{
    background-color: #e9f3ef;
  }

  .project-descrip{
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 18px;
  }

  .project-header-text-wrap{
    margin-top: 60px;
  }

  .project-text{
    font-family: 'Raleway', sans-serif;
    margin-left: 70px;
  }

  .button{
    font-family: 'Raleway', sans-serif;
    padding: 12px;
    border: 0.75px solid #5BA092;
    color: #5BA092;
    background-color: white;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    transition: all .2s ease-in-out;
  }

  .button:hover {
    border: 0.75px solid #5BA092;
    color: white;
    background-color: #5BA092;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 100;
  }



  .oph-button{
    font-family: 'Raleway', sans-serif;
    padding: 12px;
    border: 0.75px solid #5BA092;
    color: #5BA092;
    background-color: white;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    width: 300px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all .2s ease-in-out;
  }

  .oph-button:hover {
    border: 0.75px solid #5BA092;
    color: white;
    background-color: #5BA092;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 100;
  }

  /* .project-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin-top: 30px;
    text-align: center;
  } */

  .project-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .project-tech{
    /* text-align: center; */
    font-family: 'Raleway', sans-serif;
    font-weight: 450;
    font-size: 27px;
    margin-bottom: 10px;
    /* margin: 0rem 3rem 0rem 3rem; */
  }

  .work-wrapper{
    max-width: 100vw;
  }

  .wrapper{
    max-width: 100vw;
  }

  .img-wrapper{
    padding: 20px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
  } 

  .project-head{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin: 30px;
    width: fit-content;
  }


.critique {
  margin: 1rem;
}

.critique-img, .wireframe-img, .prototype-img, .style-guide-img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.work-project-text{
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 10%;
}

.prototype, .wireframe {
  display: flex;
  flex-wrap: wrap;
}

.point{
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #5BA092;
  justify-content: center;
  align-items: center;
}

.point-last{
  padding: 10px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}


.critiques{
  border: 1px solid #5BA092;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contained{
  margin-bottom: 30px;
}

.oph-img{
  margin-top: -20px;
}

.prob-container{
  background-color:#e2ece8;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 40px;
}

.problem1{
  border-right: none;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #5BA092;
}

.icon{
  font-size: 40px;
  color:#5BA092;
  margin-right: 30px;
}

.icon:hover{
  color:#37695f;
}

.footer{
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.footer-text, .footer-icon{
  color:#5BA092;
  margin-right: 30px;
}

.footer-text{
  font-size: 12px;
}

.footer-icon{
  font-size: 20px;
}

.footer-icon:hover{
  color:#37695f;
}

.project-explanation-wrapper{
  padding-left: 9%;
  padding-right: 9%;
  max-width: 100vw;
}

.row{
  max-width: 100vw;
}

@media (max-width: 1300px){
  .home-img{
    width: 500px;
  }
}

@media (max-width: 1000px) {

  .project-header-text-wrap{
    border-bottom: 0.75px solid #5BA092;
  }

  .oph-img{
    margin-top: 20px;
  }

  .home-img{
    width: 90vw;
  }

  .project-explanation-wrapper{
    padding-left: 1%;
    padding-right: 1%
  }

  .project-header{
    /* margin: 3rem 3rem 3rem 3rem; */
    /* margin-left: 8%;
    margin-right: 8%; */
    font-size: 46px;
  }

  .section{
    margin: 3rem 3rem 3rem 3rem;
  }

  .large-header{
    font-size: 50px;
  }

  .medium-header{
    font-size: 35px;
  }

  .small-header{
    font-size: 20px;
  }

  .map-icon{
    margin-top: -2px;
  }

  .my-img{
    margin-top: 65px;
    width: 80vw;
  }

  .img-wrapper{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2px;
    margin-bottom: 60px;
  }

  .project-header-text-wrap{
    margin-top: 10px;
  }

  .work-project-text{
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .project-img{
    width: 75vw;
  }

  .work-wrapper, .wrapper{
    min-width: 100vw;
  }

  .project-text{
    margin: 3rem 3rem 3rem 3rem;
  }

  .img-wrapper{
    margin-bottom: 20px;
  }
  /* .project, .project-alt{
    min-width: 120vw;
  } */
}

@media (max-width: 570px) {
  .oph-button{
    width: 150px;
    margin-bottom: 20px;
  }

  .nav-item{
    margin-left: 12%;
  }
}